@use "variables";

.contacts {
  margin-bottom: 60px;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 30px;

    @media screen and (max-width: variables.$mobile) {
      padding-left: 0;
    }  

    p {
      font-size: 1.2em;
      line-height: 1.8em;
      margin: 0;

      @media screen and (max-width: variables.$mobile) {
        font-size: 1em;
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      color: variables.$secondary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
